h2,h3{
    text-align: center;
}
body{
    background-color:black;
    color:white;
}
.max-item{
    margin: 0 20px 20px 20px;
    border: 1px solid white;
}
.max-item h3{
    text-align: center;
    margin: 10px 0;
}
.max-item .middle-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.max-item .middle-item .item{
    padding: 10px;
    margin: 10px;
    border:3px solid white;
    border-radius: 10px;
    max-width: 75%;
    background-color: black;
    color: white;
    font-weight: bold;
}
.max-item .middle-item .item:hover{
    border:3px solid lime;
}