.nav{
background-color: white;
width: 100%;
position: fixed;
top: 0;
z-index:2;
}
.menu{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
.menu > li{
float: left;
}
.menu > li >a >img{
display: block;
padding: 10px;
}
.menu > li >a >img:hover{
background-color: skyblue;
}
.fake ul li div{
height: 44px;
}